<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../shared-styles.html">
<dom-module id="info-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding-bottom: 60px;
      }
      paper-material{
        background-color: #3d415a;
        padding: 15px;
        width: 70%;
      }
    </style>
    <div class="vertical center">
      <h1>Información</h1>
      <paper-material elevation="1">

        <span>Aquí vas a encontrar todo lo que necesitas saber sobre nuestro sistema</span>
        <div class="vertical">
          <div class="vertical">
            <h2>Suscripción</h2>
            <span>Es necesario que te suscribas a nuestro portal para obtener los beneficios del mismo.</span>
            <span>El costo mensual de tu suscripción es de 2$ por los cuales obtendrás los siguientes beneficios:</span>
            <ol>
              <li>Consultar entre cientos de trabajos disponibles al rededor del país.</li>
              <li>Agregar referidos para recuperar el valor de tu suscripción y hasta conseguir ganancias extras (hasta un 850%).</li>
              <li>Publicar tu negocio para que otras personas puedan invertir contigo.</li>
            </ol>
          </div>
          <div class="vertical">
            <h2>Sobre tus referidos</h2>
            <span>Cada persona que invitas al portal hace que tú ganes dienro. Parte de su sucripción se agrega como saldo a tu cuenta cada més. Incluso ganas por los referidos de tu referido en el siguiente orden:</span>
            <ol>
              <li>Por tu primera línea de referidos te damos el 25% del valor de su sucripción</li>
              <li>Por tu segunda línea de referidos te damos el 15% del valor de su sucripción</li>
              <li>Por tu tercera línea de referidos te damos el 10% del valor de su sucripción</li>
              <li>Por tu cuarta línea de referidos te damos el 5% del valor de su sucripción</li>
            </ol>
            <span>Recuerda que puedes tener hasta 4 personas debajo tuyo.</span>
          </div>
          <div class="vertical center self-center">
            <span>Regístrate ahora y empieza a ganar!</span>
            <paper-button raised class="secondary" on-click="redirect">Registrarme</paper-button>
          </div>
        </div>
      </paper-material>


    </div>
  </template>
  <script>
    Polymer({
      is: 'info-view',
      redirect:function(){
        this.fire('route-change',{route:'rgst'});
      }
    });
  </script>
</dom-module>
