<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../elements/mdi.html">


<dom-module id="lgin-view">
  <template>
    <style>
      :host {
        display: block;

        padding: 10px 20px;
      }

      form {

        width: 20rem;
      }
    </style>
    <app-localstorage-document key="langauge" data="{{language}}"></app-localstorage-document>
    <div >
      <a href="/auth/facebook">
          <iron-icon icon="mdi:facebook" class="facebook"></iron-icon>
      </a>
      <a href="/auth/google">
          <iron-icon icon="mdi:google-plus" class="google"></iron-icon>
      </a>
	</div>    
    <form is="iron-form" method="POST" action="/auth/local" on-iron-form-response= "responseHandler" id="registerForm" on-change="validateForm">
  	  <paper-input name="identifier" label="[[localize('email')]]" required auto-validate  error-message="[[localize('email_form')]]"></paper-input>
      <paper-input name="password" id="password" label="[[localize('password')]]" type="password" required auto-validate ></paper-input>
  	  <paper-button raised on-click="submit" id="submitButton">
  	    <paper-spinner id="spinner" hidden></paper-spinner>[[localize('log_in')]]</paper-button>
  	  <div class="output"></div>
	</form>
	<paper-toast id="toast" duration="5000" ></paper-toast>
  </template>
  
  <script>
    Polymer({
      is: 'lgin-view',

      behaviors : [
        Polymer.AppLocalizeBehavior
      ],

      properties : {

        language : {
          value : 'en'
        },

        resources: {
                value: function() {
                  return {
                    'en': { 
                      'email' : 'email',
                      'password' : 'password' ,
                      'confirmation' : 'repeat password',
                      'log_in' : 'log in',
                      'reset' : 'reset',
                      'pass_form' : 'must have 8 chars, capitals and numbers',
                      'email_form' : 'must be a vali email',
                      'repeat_pass' : 'repeat pass'
                    },
                    'es': { 
                      'email' : 'email',
                      'password' : 'contraseña' ,
                      'confirmation' : 'repita la contraseña',
                      'submit' : 'enviar',
                      'reset' : 'limpiar'
                    }
                  }
              }
            },
      },

      submit : function(e){
        this.$.spinner.active = true;
        this.$.spinner.hidden = false;
        this.$.registerForm.submit();
      },

      responseHandler : function(e){
        var response = e.detail.__data__.response;
        this.$.spinner.active = false;
        this.$.spinner.hidden = true;
        console.log(response);
        if(response.success==false){
          this.$.toast.text = `Correo o contraseña incorrectos`;
          this.$.toast.open();

        }else if(response.user){
          this.fire('route-change',{ route : 'acco'});
        }

      }

    });
  </script>
</dom-module>