<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../bower_components/app-layout/app-box/app-box.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../elements/page-footer.html">
<link rel="import" href="../shared-styles.html">
<dom-module id="opo-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }
      @media (min-width: 768px) {
        div.main{
          background-size: contain;
        }
      }
      @media (max-width: 768px) {
        div.main{
          padding-top: 70px;
          background-size: 1200px;
        }
      }
      div.main{
        background-image: url('/images/homepage/4.jpg');
        background-repeat: no-repeat;
        margin-top: -70px;
      }
      .first{
        height: 50vh;
        color: var(--light-primary-text-color);
      }
      .second{
        background-color: #FFFFFF;
      }
      .third{
        background-color: rgb(250,250,250);
        color:var(--primary-text-color);
      }
      div.type-1 paper-card{
        background-color: #283593;
      }
      div.type-2 paper-card{
        background-color: #00695C;
      }
      div.type-1 paper-card ,div.type-2 paper-card{
        min-height: 200px;
        color:var(--light-primary-text-color);
      }
      div.type-1 paper-card .s-text ,div.type-2 paper-card .s-text{
        color:var(--light-secondary-text-color);
      }
      .divider{
        background-color: var(--primary-background-color);
        padding: 1rem;
      }
      .opo-1,.opo-2,.opo-3,.opo-4,.opo-1-count,.opo-2-count,.opo-3-count,.opo-4-count {
        height: 300px;
      }
      .opo-1-count{
        background-image: url('/images/opo/1.jpg');
        background-size: cover;
        background-position: center;
      }
      .opo-2-count{
        background-image: url('/images/opo/2.jpg');
        background-size: cover;
        background-position: center;
      }
      .opo-3-count{
        background-image: url('/images/opo/3.jpg');
        background-size: cover;
        background-position: center;
      }
    </style>
    <div class="main">
      <section class="first">
        <div class="container-fluid h-100">
          <div class="row h-100">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 vertical center">
              <h3 class="text-center"><strong>Toma el siguiente paso</strong></h3>
              <span class="text-center">Encuentra oportunidades de todo tipo dentro de nuestro portal.</span>
            </div>
          </div>
        </div>
      </section>
      <section class="second pb-5">
        <div class="container-fluid h-100 text-center">
          <div class="row">
            <div class="col-12 vertical centert">
              <h4><strong>Empieza a emprender</strong></h4>
              <span class="s-text">Nuestro portal te permite ponerte en contacto con las personas que necesitas para dar el siguiente paso.</span>
            </div>
          </div>
          <div class="row horizontal center">
            <div class="col-12 col-sm-4 type-1">
              <paper-card class="my-3 vertical" elevation="4">
                <div class="card-content flex">
                  <h5>¿Quieres promocionarte?</h5>
                  <span class="s-text">
                    Publica anuncios sobre oportunidades de trabajo o de inversión desde tu cuenta.
                  </span>
                </div>
                <div class="card-actions horizontal">
                  <div class="flex"></div>
                  <a href="/acco"><paper-button raised class="primary">Publicar un Anuncio</paper-button></a>
                </div>
              </paper-card>
            </div>
            <div class="col-12 col-sm-4 type-2">
              <paper-card class="my-3 vertical" elevation="4">
                <div class="card-content flex">
                  <h5>¿Buscas oportunidades?</h5>
                  <span class="s-text">
                    Utiliza nuestra herramienta para encontrar trabajos y oportunidades de inversión.
                  </span>
                </div>
                <div class="card-actions horizontal">
                  <div class="flex"></div>
                  <a href="/srch"><paper-button raised class="accent">Buscar Oportunidades</paper-button></a>
                </div>
              </paper-card>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container-fluid divider">
          <div class="row h-100 center">
            <div class="col-10 offset-1 col-md-4 offset-md-2 vertical text-left">
              <h5><strong>¿Aún no tienes una cuenta?</strong></h5>
              <span class="s-text">Regístrate en nuestro portal y aprovecha sus beneficios. Es grátis!</span>
            </div>
            <div class="col-10 offset-1 col-md-4 offset-md-0 horizontal center">
              <a href="/rgst" target="_blank">
                <paper-button raised class="accent">Registrarme</paper-button>
               </a>
            </div>
          </div>
        </div>
      </section>
      <section class="third">
        <div class="container">
          <div class="row">
            <div class="col-10 offset-1 vertical text-center pb-4">
              <h4>Mira lo que puedes encontrar en nuestro portal</h4>
              <h5 class="s-text">Con nuestro sistema puedes publicar y encontrar los siguientes tipos de oportunidades.</h5>
            </div>
          </div>
          <div class="row pb-3">
              <div class="col-xs-0 col-sm-0 col-md-6 vertical center text-right opo-1">
                <h5 class="w-100"><a href="/srch/jobs">Trabajos</a></h5>
                <span class="s-text">
                  Encuentra trabajos en cualquier parte del mundo. Las descripciones de los mismos son rápidas y están pensadas para que busques entre la mayor cantidad de oportunidades posibles.
                </span>
              </div>
              <div class="col-xs-0 col-sm-0 col-md-6 opo-1-count">

              </div>
              <div class="col-xs-0 col-sm-0 col-md-6 opo-2-count">

              </div>
              <div class="col-xs-0 col-sm-0 col-md-6 vertical center text-left opo-2">
                <h5 class="w-100"><a href="/srch/investments">Inversiones</a></h5>
                <span class="s-text">
                  Las inversiones son propuestas por parte de un negocio para algún proyecto en particular pueden ser franquicias, productos al mayor o menor y servicios. Las personas que estén interesadas en esta propuesta pueden contactarse con el anunciante para invertir en el proyecto y obtener un beneficio por su inversión.
                </span>
              </div>
              <div class="col-xs-0 col-sm-0 col-md-6 vertical center text-right opo-3">
                <h5 class="w-100"><a href="/srch/donations">Donaciones</a></h5>
                <span class="s-text">
                  Organizaciones sin fines de lucro pueden también publicar sus causas en nuestra página. Las personas interesadas en donar pueden también contactarse con ellas para ayudar.
                </span>
              </div>
              <div class="col-xs-0 col-sm-0 col-md-6 opo-3-count">

              </div>
          </div>
        </div>
      </section>
      <section>

      </section>
      <section class="contact pb-3">
        <div class="container">
        </div>
      </section>
    </div>
  </template>
  <script>
    Polymer({
      is: 'opo-view',
      properties:{
        route:{
          type:String
        }
      }
    });
  </script>
</dom-module>
