<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="papr-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px 20px;
        @apply(--layout-vertical);
        height: 100vh;
        background-color: var(--primary-background-color);
      }
      a.link{
        @apply(--layout-self-end);
      }
    </style>
    <iron-ajax
      auto
      url="/getcurrentuser"
      handle-as="json"
      on-response="currentUserHandler"
      id="currentUserRequester"
      on-error="currentUserErrorHandler"></iron-ajax>
    <app-localstorage-document key="language" data="{{language}}"></app-localstorage-document>
    <div class="vertical center flex">
      <paper-card class="vertical">
        <div class="card-content flex">
          <h4>[[localize('pay_done')]]</h4>
          <h5 class="text-accent">[[localize('subscribed_until','start', subscribedUntil)]]</h5>
        </div>
        <div class="card-actions vertical">
          <a href="/acco/membership" class="link">
            <paper-button raised class="primary">Regresar a mi Cuenta</paper-button>
          </a>

        </div>
      </paper-card>

    </div>
  </template>

  <script>
    Polymer({
      is: 'papr-view',

      behaviors : [
        Polymer.AppLocalizeBehavior
      ],

      properties : {
          language : {
            type : String,
            value : 'en'
          },

          resources : {
            value : function(){
              return {
                'en' : {
                  'pay_done' : 'Your payment has been completed succesfully',
                  'subscribed_until' : 'You are subscribed until { start , date , short}'
                },
                'es' : {
                  'pay_done' : 'Tu pago se ha completado exitosamente',
                  'subscribed_until' : 'Tu subscrición dura hasta el: { start , date , short}'
                }
              }
            }
          },

          subscribedUntil : {
            type : Date
          }
      },

      currentUserHandler : function(e){
        var user = e.detail.__data__.response;
        this.set('subscribedUntil', user.subscribedUntil ? new Date(user.subscribedUntil): 0);
      }

    });
  </script>
</dom-module>
