<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/re-captcha/re-captcha.html">
<link rel="import" href="../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../my-icons.html">
<link rel="import" href="../elements/facebook-login.html">
<link rel="import" href="../elements/google-login.html">
<link rel="import" href="../fragments/lgin-view.html">

<dom-module id="rgst-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px 20px;
        height: 100vh;
      }
      paper-card {
        width: 320px;
      }
      .divider{
        border-style: solid;
        border-color: #bdced7;
        border-width: 0 0 1px 0;
      }
      div#recaptchaDiv{
        height: 5rem;
      }
    </style>
    <app-localstorage-document key="language" data="{{language}}"></app-localstorage-document>
    <app-location route="{{route}}"></app-location>
    <app-route
        route="{{route}}"
        pattern="/:route/:section"
        data="{{routeData}}"
        tail="{{subroute}}"></app-route>
    <div class="container vertical center h-100">
      <h2>Regístrate</h2>
      <paper-card>
        <div class="card-content">
          <div class="row flex-items-xs-center">
            <facebook-login recommender=[[recommender]] on-user-logged="routeChangedHandler" on-show-message="showMessage"></facebook-login>
            <google-login recommender=[[recommender]] on-user-logged="routeChangedHandler" on-show-message="showMessage"></google-login>
          </div>
          <div class="divider text-xs-center">
            <span>[[localize('or')]]</span>
          </div>
          <form is="iron-form" method="POST" action="/auth/local/register" on-iron-form-response= "responseHandler" id="registerForm" on-change="validateForm">
        	  <paper-input name="email" label="[[localize('email')]]" required auto-validate pattern="^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$" error-message="[[localize('email_form')]]"></paper-input>
            <paper-input name="password" id="password" label="[[localize('password')]]" type="password" required auto-validate pattern="(?=^.[^ ]{7,}$)(?=.*\d)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" error-message="[[localize('pass_form')]]"></paper-input>
        	  <paper-input name="confirmation" id="confirmation" label="[[localize('confirmation')]]" type="password" required auto-validate pattern="(?=^.[^ ]{7,}$)(?=.*\d)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" error-message="[[localize('repeat_pass')]]"></paper-input>
            <br>
            <input hidden name="g-recaptcha-response" value="[[recaptchaToken]]">
            <input hidden name="recommender" value="[[recommender]]">
            <div id="recaptchaDiv"></div>
      	  </form>
        </div>
        <div class="card-actions horizontal">
          <div class="flex">
          </div>
          <paper-button on-click="reset" class="secondary">[[localize('reset')]]</paper-button>
          <paper-button raised on-click="submit" disabled id="submitButton" class="secondary">
          <paper-spinner id="spinner" hidden></paper-spinner>[[localize('submit')]]</paper-button>
        </div>
      </paper-card>
      <div class="output"></div>
      <h4><a href="/lgin">[[localize('or_login')]]</a></h4>
      <lgin-view recommender="[[recommender]]" on-route-change="routeChangedHandler"></lgin-view>
    </div>
	  <paper-toast id="toast" duration="5000" ></paper-toast>
  </template>

  <script>
    Polymer({
      is: 'rgst-view',

      behaviors : [
        Polymer.AppLocalizeBehavior
      ],

      properties : {

        language : {
          value : 'es'
        },

        resources: {
                value: function() {
                  return {
                    'en': {
                      'email' : 'Email',
                      'password' : 'Password' ,
                      'confirmation' : 'Repeat password',
                      'submit' : 'Submit',
                      'reset' : 'Reset',
                      'pass_form' : 'Must have 8 chars, one capital and one number',
                      'email_form' : 'Must be a valid email',
                      'repeat_pass' : 'Repeat the password',
                      'or' : 'or',
                      'pass_not_match' : "The password confirmation doesn't match ",
                      'not_robot' : "Prove you are not a robot",
                      'or_login' : "Or"
                    },
                    'es': {
                      'email' : 'Correo electrónico',
                      'password' : 'Contraseña' ,
                      'confirmation' : 'Repita contraseña',
                      'submit' : 'Enviar',
                      'reset' : 'Limpiar forma',
                      'pass_form' : 'Debe tener al menos 8 caracteres, una letra mayúscula y un número',
                      'email_form' : 'Debe ser una dirección de correo válida',
                      'repeat_pass' : 'Repita la contraseña',
                      'or' : 'o',
                      'pass_not_match' : "Las contraseñas no coinciden",
                      'or_login' : "O"
                    }
                  }
              }
            },

          recommender : {
            type: String,
            value: null
          },

          route : {
            type: String,
            observer : 'routeObserver'
          },

          recaptchaToken : {
            type: String
          }

      },

      detached:function(e){
        document.body.removeChild(this.recaptcha);
      },

      _setUpRecaptcha:function(){
        if(document.querySelector('#recaptchaElement')){
          document.body.removeChild(document.querySelector('#recaptchaElement'));
        }
        this.recaptcha = document.createElement('re-captcha');
        this.recaptcha.style.position = 'absolute';
        var position = this.$.recaptchaDiv.getBoundingClientRect();
        this.recaptcha.id = "recaptchaElement";
        this.recaptcha.style.left = (position.left-6) + 'px';
        this.recaptcha.style.top = (position.top) + 'px';
        this.recaptcha.setAttribute('sitekey','6LdkIAoUAAAAANOf7Dqpf_72eLGFLQNr0pdFwKAq');
        var self=this;
        this.recaptcha.addEventListener('captcha-response',function(e){
          self.recaptchaToken=e.detail.response;
          self.set('recaptchaResponse',true);
        });
        this.recaptcha.addEventListener('captcha-expired',function(e){
          this.set('recaptchaResponse',false);
        });
        document.body.appendChild(this.recaptcha);
      },

      submit : function(e){
        if(this.$.password.value !== this.$.confirmation.value){
          this.$.toast.text = this.localize('pass_not_match');
          this.$.toast.open();
        }else{
          if(this.recaptchaResponse){
            this.$.spinner.active = true;
            this.$.spinner.hidden = false;
            this.$.registerForm.submit();
          }else{
            this.$.toast.text = this.localize('not_robot');
            this.$.toast.open();
          }
        }

      },

      responseHandler : function(e){
        var response = e.detail.__data__.response;
        this.$.spinner.active = false;
        this.$.spinner.hidden = true;
        if(!response.success){
          this.$.toast.text = response.error;
          this.$.toast.open();
          this.recaptcha.reload();
          this.set('recaptchaResponse',false);
        }else if(response.user){
          //fire app route change event
          this.changeRoute();
        }

      },

      validateForm : function(e){
        this.$.submitButton.disabled = !this.$.registerForm.validate();
      },

      reset : function(e){
        this.$.registerForm.reset();
      },

      routeChangedHandler:function(e){
        this.changeRoute();
      },

      changeRoute : function(){
        if(this.route.path.substring(0,5) === '/recw'){
          window.location = this.route.path;
          return;
        }
        this.fire('route-change',{ route : 'acco'});
      },

      routeObserver : function(newValue,lastValue){
        if(this.route.path == '/rgst'){
          var self = this;
          if(!document.querySelector('#recaptchaElement')){
            setTimeout(function(){ self._setUpRecaptcha() }, 100);
          }
        }
      }

    });
  </script>
</dom-module>
