<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../bower_components/app-layout/app-box/app-box.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../elements/page-footer.html">
<link rel="import" href="../shared-styles.html">
<dom-module id="sytm-view">
  <template>
    <style include="shared-styles">
      @media (min-width: 768px) {
        div.main{
          background-size: contain;
        }
      }
      @media (max-width: 768px) {
        div.main{
          padding-top: 70px;
          background-size: 1200px;
        }
        div.step-1, div.step-2 ,div.step-3{
          display: none !important;
        }
      }
      div.main{
        background-image: url('/images/homepage/2.jpg');
        background-repeat: no-repeat;
        margin-top: -70px;
      }
      .first{
        height: 50vh;
        color: var(--light-primary-text-color);
      }
      .second{
        background-color: #FFFFFF;
      }
      .third{
        background-color: var(--default-primary-color);
        color:var(--light-primary-text-color);
      }
      div.step-1{
        background-image: url('/images/sytm/step-1.jpg');
        background-size: cover;
        height: 55vh;
      }
      div.step-2{
        background-image: url('/images/sytm/step-2.jpg');
        background-size: cover;
        height: 55vh;
      }
      div.step-3{
        background-image: url('/images/sytm/step-3.jpg');
        background-size: cover;
        height: 55vh;
      }
      div.counter-step{
        padding-left: 4rem;
        padding-right: 4rem;
      }
      paper-card.faq{
        background-color: #FFFFFF;
        color:var(--primary-text-color);
        max-width: 450px;
        margin-bottom: 20px;
      }
      .big-number{
        @apply(--paper-font-display4);
        font-weight: 200;
        color: var(--accent-color);
        margin-top: 2rem;
      }
    </style>
    <div class="main">
      <section class="first">
        <div class="container-fluid h-100">
          <div class="row h-100">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 vertical center">
              <h3 class="text-center strong">Encuentra tu capital</h3>
              <h4 class="text-center">El capital que necesitas para empezar a invertir está a tu alcance.</h4>
            </div>
          </div>
        </div>
      </section>
      <section class="second">
        <div class="container-fluid h-100 text-center">
          <div class="row">
            <div class="col-12 vertical center flex mt-3">
              <h4>Mira cómo funciona</h4>
              <h5 class="light">A continuación te explicamos lo que debes hacer para empezar a ganar dinero</h5>
              <br>
              <br>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-0 col-sm-0 col-md-6 vertical center step-1">
            </div>
            <div class="col-12 col-sm-12 col-md-6 vertical counter-step">
              <h3 class="text-right">1°</h3>
              <h5 class="strong text-left">Regístrate y Consigue una suscripción</h5>
              <br>
              <span class="light text-left ">Si todavía no eres miembro de Dinabun, <a href="/rgst" target="_blank">puedes registrarte ahora.</a>  </span>
              <span class="light text-left ">Después de registrarte, el sistema te guiará para que consigas una suscripción.</span>
              <a href="/rgst" target="_blank" class="horizontal py-2">
                <paper-button raised class="accent">Registrarme Ahora</paper-button>
                <div class="flex"></div>
              </a>
              <span class="light text-left ">Para asegurarnos de que cada usuario es único necesitamos que registres un número de identificación después de registrarte. Si tienes dudas puedes consultar nuestros <a href="/trms" target="_blank" >Términos y condiciones</a></span>
            </div>
            <div class="col-12 col-sm-12 col-md-6 vertical counter-step">
              <h3 class="text-left">2°</h3>
              <h5 class="strong text-right">Recomienda Dinabun</h5>
              <br>
              <span class="light text-right">Ahora que ya tienes una suscripción activa puedes invitar a nuevas personas para que se unan a tu red. Recuerda que puedes tener todas las personas que quieras recomendadas abajo tuyo.</span>
              <a href="/acco/recommended" target="_blank" class="horizontal py-2">
                <div class="flex"></div>
                <paper-button raised class="accent">Invitar recomendados</paper-button>
              </a>
              <span class="light text-right">Una vez que tus recomendados paguen su suscripción, parte de ese dinero es depositado en tu cuenta. Cuando ellos empiecen a pagar su suscripción <b>tu ya recuperas la tuya</b>, es decir, ya no tienes que pagar el valor de tu suscripción.</span>
            </div>
            <div class="col-xs-0 col-sm-0 col-md-6 vertical center step-2">

            </div>
            <div class="col-xs-0 col-sm-0 col-md-6 vertical center step-3">
            </div>
            <div class="col-12 col-sm-12 col-md-6 vertical counter-step">
              <br>
              <h3 class="text-right">3°</h3>
              <h5 class="strong text-left">Ayuda a tus recomendados</h5>
              <br>
              <span class="light text-left">Para maximizar tus ganancias necesitas que tus recomendados consigan sus propios recomendados.</span>
              <span class="light text-left">Puedes agregar personas a tu red hasta el <b>cuarto nivel</b>.</span>
              <span class="light text-left">Mientras tu red acaba de llenarse, recuerda que todavía seguirás acumulando beneficios de tus recomendados.</span>
            </div>

          </div>
          <div class="row mb-3">
            <div class="col-12 vertical center flex" >
              <h3 class="thin">Recomienda a tus amigos ya!</h3>
              <span class="light">Mientras más recomendados el porcentaje de ganancias que obtienes crecerá.</span>
              <a href="/rgst" target="_blank" class="py-2">
                <paper-button raised class="primary">Empieza ahora</paper-button>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="third">
        <div class="container">
          <div class="row">
            <div class="col-12 horizontal center">
              <h4>Preguntas frecuentes</h4>
            </div>
            <div class="col-12 horizontal center">
              <paper-card class="faq" elevation="4">
                <div class="card-content vertical">
                  <strong>¿Cómo puedo pagar una suscripción?</strong>
                  <br>
                  <span class="s-text">Actualmente recibimos pagos únicamente mediante <a href="https://en.wikipedia.org/wiki/Bitcoin" rel="external" target="_blank">Bitcoins</a>. La manera más sencilla de manejar esta moneda es a través de billeteras virtuales como <a href="https://xapo.com/" target="_blank">Xapo</a>, <a href="https://blockchain.info/wallet/#/" target="_blank">Blockchain</a> o <a href="https://bitpay.com/" target="_blank">Bitpay</a> <span>
                </div>
                <div class="card-content vertical">
                  <strong>¿Cómo puedo cobrar lo que he ganado?</strong>
                  <br>
                  <span class="s-text">Desde tu cuenta, una vez que tengas saldo disponible, puedes enviar tu dinero hacia cualquier dirección de bitcoin que desees. Los retiros se tardan al rededor de 12 horas en ser confirmados, por lo que solamente puedes hacer un retiro cada 12 horas.</span>
                </div>
                <div class="card-content vertical">
                  <strong>¿Qué puedo hacer con el dinero?</strong>
                  <br>
                  <span class="s-text">Te recomendamos que inviertas tu capital en cualquiera de las oportunidades que se publican en esta misma página. El objetivo de todo esto es que más personas puedan cumplir sus sueños, así que busca alguien con quien emprender. </span>
                </div>
                <div class="card-content vertical">
                  <strong>¿Dónde puedo promocionar mi negocio?</strong>
                  <br>
                  <span class="s-text">Para ello debes registrarte. Después, desde <a href="/acco/business">Tu cuenta</a> puedes ir a la sección de Negocios para crear tu primer negocio. Una vez registres tu negocio, podrás crear anuncios que se publicarán en la página.</span>
                </div>
              </paper-card>
            </div>
          </div>

        </div>
      </section>
    </div>
  </template>
  <script>
    Polymer({
      is: 'sytm-view',
      properties:{
        route:{
          type:String
        }
      }
    });
  </script>
</dom-module>
