<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../shared-styles.html">


<dom-module id="trms-view">
  <style>
    paper-card{
      margin-top: 1rem ;
      padding: 2rem;
    }
  </style>
  <template>
    <style include="shared-styles">
    </style>
    <app-toolbar>
        <a href="/" class="horizontal">
          <iron-image height="50" width="50" src="/images/logo.png" preload sizing="cover"></iron-image>
          <div main-title><span class="dinabun-title">Dinabun</span></div>
        </a>
        <div class="flex"></div>
        <login-button></login-button>
    </app-toolbar>
    <div class="main row col-9 offset-sm-2 vertical">
      <paper-card>
        <div class="horizontal center card-contetnt">
          <h3 class="center">TÉRMINOS Y CONDICIONES</h3>
        </div>
        <h4 class=offset-sm-1"">Politicas de uso</h4>
        <br>
        <h5>1. Condiciones de uso</h5>
        <p>El acceso, la participación y uso del sitio Web de DINABUN y otros recursos como cuentas de Redes Sociales a las que les llamaremos “los canales” para el desarrollo y distribución de contenidos de DINABUN están regidos por las condiciones de uso y política de privacidad de la información que se detallan a continuación. </p>
        <h5>2. Aceptación</h5>
        <p>Al utilizar cualquiera de los recursos mencionados anteriormente y suministrados por DINABUN, cada uno de los usuarios aceptan y reconocen que han leído, entendido y aceptado estas Condiciones de uso y se acogen a lo que se indica en las mismas. </p>
        <h5>3. Generales</h5>
        <p>Tus obras fotográficas, de música, audiovisuales, pictóricas, de dibujo o caricatura, a las que en lo sucesivo, se las llamará los “Cuadros”, de igual manera otras publicaciones, tales como opiniones, comentarios y actualizaciones de estado o de su perfil personal, son acogidas en nuestros perfiles de Redes Sociales las mismas que en conjunto, a los Cuadros y las publicaciones se las llamará las “Publicaciones”.</p>
        <p>Cualquier Publicación que sea expuesta o diseminada en nuestros perfiles de Redes Sociales, será revisada por personal de DINABUN. Por lo cual: </p>
        <ul>
          <li>Nos reservamos el derecho de remover o eliminar las publicaciones que se consideren inapropiadas, de acuerdo a nuestro criterio. </li>
          <li>Nos reservamos el derecho a modificar los presentes lineamientos en cualquier momento.</li>
        </ul>
        <p>La información expuesta, emitida o publicada en alguno de nuestros perfiles en Redes Sociales, debe ser de carácter exclusivamente informativo, por lo que es responsabilidad de cada usuario su uso. El usuario de redes sociales libera a DINABUN y sus empleados o contratistas de cualquier responsabilidad penal o civil relacionada con la información publicada o diseminada por nuestra empresa en las redes sociales mencionadas.</p>
        <h5>4. Sobre Datos Sensibles</h5>
        <p>El usuario de DINABUN Jamás deberá revelar información sobre su cuenta de banco o información financiera en cualquier entidad financiera particular, pública o personal a través de nuestros perfiles de Redes Sociales. DINABUN jamás te pedirá información sobre tu cuenta bancaria, información financiera u otra información confidencial, excepto el número que tu hayas creado en tu billetera electrónica o la información que tu utilices en el método de pago que tu escojas, el mismo que será solicitado una sola vez al inicio de tu historial en DINABUN. Los datos o revelación y publicación de tu información a través de Redes Sociales, incluyendo la que se hace a través de los perfiles de DINABUN en Redes Sociales, está sujeta al control de cada una de las Redes Sociales y bajo sus términos y condiciones sobre privacidad, contenido y uso de datos. </p>
        <p>DINABUN no será responsable por las acciones, omisiones, términos, ni políticas de privacidad y seguridad de cada Red Social.</p>
        <h5>5- Usode la Red</h5>
        <p>La forma de comunicación de DINABUN o los canales de DINABUN, los contenidos y demás recursos electrónicos y/o físicos son de uso y reproducción libre, así como su almacenamiento, compilación, distribución, traducción, inclusión, transmisión o acceso a través de cualquier medio de tipo análogo o digital. Este permiso es válido siempre y cuando los contenidos no sean modificados ni usados con fines comerciales. Cualquier modificación a los contenidos distribuidos a través de estos canales deberá ser autorizada de manera expresa por DINABUN. Cualquier uso comercial de estos contenidos está prohibido. </p>
        <p>DINABUN no puede garantizar que el contenido generado por los administradores de esta RED SOCIAL esté exento de errores o imprecisiones, por tal motivo: </p>
        <ul>
          <li>DINABUN facilita a sus usuarios la participación activa para solicitar las aclaraciones o correcciones que sean del caso, siempre y cuando las mismas se hagan de forma respetuosa y proactiva. </li>
          <li>DINABUN no se hace responsable de los posibles errores en el contenido publicado por los administradores de esta RED SOCIAL.</li>
        </ul>
        <p>Cada uno de los usuarios entienden y aceptan que DINABUN no garantiza y por lo tanto no es responsable de la fiabilidad, exactitud, legalidad, exhaustividad, actualidad y utilidad de las opiniones o contenidos generados por los usuarios o por terceros, o de contenidos de una página de internet a la que se haya realizado un enlace y por ende no genera aceptación o aprobación de los mismos ni será responsable de las mismas. </p>
        <h5>6. Contenido Generado por los Usuarios</h5>
        <p>Los usuarios de la RED SOCIAL podrán participar con comentarios y publicitar sus servicios o empresas, los cuales se entenderán como propiedad del usuario que las aporta. Los usuarios garantizan que los contenidos aportados les pertenecen y que no están violando los Derechos de Autor y Propiedad Intelectual de terceros y asumen la responsabilidad completa por cualquier reclamación que pueda surgir de su uso. </p>
        <p>Por medio de su participación, los usuarios conceden a DINABUN una licencia de uso gratuita, no exclusiva y permanente, para que utilice, reproduzca, adapte, almacene, compile, distribuya y sublicencie dichos contenidos, sin que ello signifique compensación alguna.</p>
        <p>Por el hecho de ingresar a LA RED SOCIAL, los usuarios otorgan a DINABUN: </p>
        <ul>
          <li>El derecho de cambiar, modificar en cualquier tiempo y por cualquier razón sin previo aviso estas Condiciones de uso, incluyendo la Política de privacidad de la información.</li>
          <li>El derecho de restringir el registro y el uso de LA RED SOCIAL a cualquier persona, en cualquier momento y por razones de uso inadecuado de los mismos.</li>
          <li>Remover o eliminar los contenidos que violen derechos de autor o la propiedad intelectual de un tercero, previa solicitud por parte del interesado. </li>
          <li>Remover o eliminar los contenidos que, por su lenguaje o intención, irrespeten a la organización o a otros usuarios. </li>
        </ul>
        <p>Los usuarios de DINABUN se abstendrán de usar LA RED SOCIAL de la siguiente manera o con los siguientes objetivos:</p>
        <ul>
          <li>Con fines ilícitos como: robos, estafas, engaños y otros considerados como ilegal o amoral.</li>
          <li>Con fines lesivos de los derechos e intereses de terceros.</li>
          <li>Con fines que puedan dañar, inutilizar, sobrecargar, deteriorar o impedir la normal utilización de los servicios, los equipos informáticos, los documentos, los archivos y cualquier contenido almacenado en los servidores de DINABUN o en aquellos servidores a los que los recursos de DINABUN estén enlazados. </li>
          <li>Con la finalidad de acosar y/o amenazar a los integrantes del equipo de DINABUN o a terceros.</li>
          <li>Con la finalidad de obtener o divulgar información privada de terceros.</li>
          <li>Con la finalidad de publicar noticias falsas o manipuladas de manera malintencionada.</li>
          <li>Con la finalidad de provocar la molestia injustificada a los demás usuarios y lectores.</li>
        </ul>
        <h5>8. Responsabilidad Sobre las Publicaciones.</h5>
        <p>Serán los usuarios de las redes sociales, y no DINABUN, responsables por las publicaciones diseminadas en cualquiera de nuestros perfiles en redes sociales.</p>
        <p>Al dar a conocer o diseminar las publicaciones, el usuario garantiza que es titular o tiene el derecho para usar o explotar sus respectivas publicaciones, incluyendo cualquier derecho de propiedad intelectual.</p>
        <p>DINABUN sigue y cumple con todas las leyes relativas al derecho de autor, marcas, secretos industriales y demás aplicables, por lo que el usuario que disemine cualquier publicación en los perfiles de DINABUN en Redes Sociales, de la cual no sea el titular o no tenga el derecho para usarla o explotarla, deslinda de responsabilidad a DINABUN, y se obliga a sacar en paz y a salvo a DINABUN, de cualquier reclamación o litigio que se haya generado en su contra, en virtud de dicha diseminación. </p>
        <h5>9. Derechos de DINABUN</h5>
        <p>DINABUN manifiesta que es el titular, universal y exclusivo de los derechos sobre la marca “DINABUN”, su logotipo, así como de diversas denominaciones distintivas, las cuales son publicadas y utilizadas en cada uno de nuestros perfiles en Redes Sociales. Por lo que el usuario que dé a conocer o disemine cualquier Publicación en dichos perfiles, reconoce la titularidad y derechos con los que DINABUN cuenta, y se obliga a no usar bajo ninguna circunstancia y sin autorización de DINABUN, sus marcas y logotipos debidamente protegidos en materia de propiedad industrial. </p>
        <h5>10. Política de Privacidad de la Información</h5>
        <p>Para DINABUN la protección y privacidad de los datos personales de nuestros usuarios es de vital importancia. Por este motivo ha elaborado una política de privacidad que rige el manejo y gestión de la información personal de las bases de datos que con motivo de nuestras actividades se recoge, asegurando confidencialidad y seguridad en el manejo de la información, como se describe a continuación:</p>
        <ul>
          <li>Se entiende por información personal aquella suministrada por los usuarios al momento de registrarse en el sitio web, alguno de sus recursos electrónicos o los formularios de registro y que incluyen datos como (sin limitarse a) correo electrónico, nombres, identidad, entidad, cargo y dirección.</li>
          <li>Los usuarios reconocen que el ingreso de información personal es realizado de manera voluntaria, entendiéndose que la información hará parte de un archivo y/o base de datos, la cual podrá ser usada en los términos aquí establecidos.</li>
          <li>Quien diligencia el formulario de registro acepta que la información suministrada se incorpore a las bases de datos de DINABUN, sus filiales, subsidiarias o casa matriz y autoriza su uso con fines institucionales por parte de DINABUN, incluyendo -pero sin limitarse a los socios y socios cooperante.</li>
        </ul>
        <p>DINABUN se compromete a que la información compartida con sus socios no será usada con fines comerciales ni ilícitos</p>
        <p>Los usuarios podrán modificar o actualizar la información suministrada en cualquier momento y podrán solicitar el retiro de su información personal de las bases de datos de DINABUN siguiendo los pasos requeridos en la página de DINABUN, El retiro de la información de las bases de datos significará la pérdida de los beneficios derivados del registro.</p>
        <p>Los datos serán utilizados por DINABUN para:</p>
        <ul>
          <li>Dar cumplimiento a obligaciones legales o contractuales contraídas con usted. </li>
          <li>Proveer información sobre DINABUN. </li>
          <li>Distribuir contenidos y productos promocionales.</li>
        </ul>
        <p>Las actividades mencionadas podrán ser realizadas a través de diferentes medios tales como correo físico, electrónico, celular o dispositivo móvil, mensajes de texto o a través de cualquier medio análogo y/o digital de comunicación, conocido o por conocer.</p>
        <p>DINABUN no se responsabiliza por cualquier consecuencia derivada del ingreso indebido de terceros a la base de datos y/o por alguna falla técnica en el funcionamiento y/ o conservación de datos en el sistema del sitio de Internet o sus demás canales electrónicos. </p>
        <p>El  usuario  deberá  cumplir  las  condiciones  y  políticas  del  sitio,  así  como  toda  condición adicional que se establezca en el sitio Web o en los demás canales.</p>
        <h5>11. Moderación</h5>
        <p>DINABUN se reserva el derecho a negar la publicación, moderar o remover las publicaciones. Asimismo, DINABUN se reserva el derecho de negarse a publicar o eliminar publicaciones, o cualquier otro tipo de publicación, que según el criterio de DINABUN parezca infringir derechos de terceros o sea inapropiada. DINABUN a su propia discreción, podrá mantener las publicaciones o facilitarlas a una autoridad competente, previa orden por escrito, o según convenga a DINABUN, para proteger los derechos y seguridad de los usuarios y público en general.</p>
        <p>DINABUN no garantiza la fidelidad, integridad o calidad de las publicaciones. DINABUN no será responsable en forma alguna por las publicaciones, bajo ninguna circunstancia, lo cual incluye, sin limitación, responsabilidad por errores u omisiones de las publicaciones, o por cualquier pérdida o daño en que se incurra como resultado de la diseminación de las publicaciones-. Los usuarios deberán usar su criterio antes de confiar en las publicaciones de otros usuarios, ya que las publicaciones pueden contener información falsa o engañosa y lo harán bajo su responsabilidad y riesgo. </p>
        <h5>12. Propósitos Informativos</h5>
        <p>Ningún comentario o información publicada por empleados o agentes de DINABUN deberá ser entendida o usada como base para cualquier inversión o decisión médica, nutricional, legal o financiera, ni ser interpretada como consejos o recomendaciones. En virtud de lo anterior DINABUN no será responsable por cualquier costo y/o pérdida, daños físicos y/o emocionales, económicos y/o financieros, directos o indirectos, que pudieran resultar del uso de información publicada en alguno de nuestros perfiles en Redes Sociales. </p>
        <p>Si un usuario de DINABUN desea hacer inversiones económicas o donaciones o a su vez recibir inversiones económicas o donaciones, deberá investigar a quien envía o de donde provienen esos fondos económicos, en virtud de esto DINABUN no se responsabiliza bajo ningún punto de vista de estafas, posibles estafas, recepción o envío de dinero ilegal y por lo tanto los usuarios que envíen o reciban la inversión económica entienden que DINABUN no es responsable y por ende no genera aceptación o aprobación ni será responsable de las mismas, de igual manera los usuarios deslindan de responsabilidad a DINABUN y se obligan a sacar en paz y a salvo a DINABUN de cualquier reclamación o litigio que se haya generado en su contra, además los usuarios no podrán seguir acciones legales de tipo penal o civil relacionada a estos hechos en contra de DINABUN.</p>
        <p>Si un usuario de DINABUN desea hacer donaciones o recibir donaciones de tipo material deberá asegurarse de que ese material sea idóneo o legal y que no afectará a los intereses de la persona o entidad que reciba o envíe tal donación, en tal virtud DINABUN no se responsabiliza bajo ningún punto de vista sobre el origen o destino de donaciones de tipo material y por lo tanto el usuario que envíe o reciba la donación entiende que DINABUN no es responsable y por ende no genera aceptación o aprobación de los mismos ni será responsable de las mismas, por lo tanto los usuarios deslindan de responsabilidad a DINABUN y se obligan a sacar en paz y a salvo a DINABUN de cualquier reclamación o litigio que se haya generado en su contra, además los usuarios no podrán seguir acciones legales de tipo penal o civil relacionada a estos hechos en contra de DINABUN. </p>
        <h5>13. Edad Mínima</h5>
        <p>Todo usuario que disemine publicaciones en los perfiles de DINABUN en Redes Sociales, manifiesta tener como edad mínima 18 años, en caso contrario y de acuerdo a los términos y condiciones de uso de cada una de las Redes Sociales, se obliga a no hacer uso de los servicios que éstas ofrecen, y por lo tanto a no publicar información en los perfiles de DINABUN.</p>
        <h5>14.Costos de Pagos y Servicios</h5>
        <p>DINABUN al ser una empresa formalmente constituida con reglamentos adscritos a la legislación, indica que la persona que ingrese a formar parte de DINABUN en calidad de persona suscrita a quien de hoy en adelante y para fines legales le llamaremos “el usuario” debe pagar un coste de 360 dólares americanos, mismo que debe ser cancelado a la cuenta de DINABUN en su equivalente en moneda virtual BITCOIN a través de su monedero virtual, cada vez que desee hacer una inversión/beneficio por formar parte de la Red Social el mismo que incluye:</p>
        <ul>
          <li>Ser parte de la Red</li>
          <li>
            <p>Publicitar su negocio, profesión o servicio en La Red</p>
            <ul>
              <li>DINABUN entregará dentro de la plataforma de servicios DINABUN 3 espacios para publicidad, los mismos que pueden ser utilizados por el usuario única y exclusivamente para fines publicitarios, en caso de que la plataforma DINABUN encuentre anomalías en la presentación de la publicidad notificará al usuario para la eliminación del mismo o a su vez le eliminará de la página de acuerdo con el Ítem número 6 de estos términos, con el fin de que el usuario pueda poner otra publicidad.</li>
            </ul>
          </li>
          <li>
            <p>Formar parte de los tres niveles de servicios de DINABUN</p>
            <ul>
              <li>Donaciones.- en donde podrá hacer donaciones o recibir donaciones </li>
              <li>Inversiones.- en donde puedes invertir y ser parte de una empresa, así como la adquisición de una franquicia. </li>
              <li>Empleo.- en donde puedes conseguir el empleo que tu necesites. </li>
            </ul>
          </li>
          <li>Tener derecho a formar parte de la red multinivel de DINABUN en un sistema uninivel de acuerdo a la normativa empresarial vigente esto incluye únicamente los pagos emitidos por la formación de la red multinivel. </li>
        </ul>
        <p>DINABUN cancelará a la persona suscrita un porcentaje por cada persona que ingrese a su red que conforme en DINABUN siempre y cuando sea el usuario el que invite y  a su vez el invitado este formando parte de su red multinivel. </p>
        <p>DINABUN recalca que: </p>
        <ul>
          <li>El usuario tiene la oportunidad de hacer invitaciones de suscripción por el lapso de un año calendario a partir de su propia suscripción. </li>
          <li>El número de invitaciones que haga la persona suscrita es ilimitada. </li>
          <li>Al tratarse de una red multinivel, DINABUN cancelará beneficios hasta el cuarto piso o nivel de invitados siempre y cuando se verifique el pago de la suscripción. </li>
          <li>
            <p>Por cada nivel o piso de su propia red el usuario recibirá:</p>
            <ul>
              <li>Primer nivel.- el 26% de beneficio calculado por el monto de inscripción que el invitado cancele a DINABUN por una sola vez en todo el año calendario a partir de su suscripción.</li>
              <li>Segundo nivel.- el 18% de beneficio calculado por el monto de inscripción que el invitado cancele a DINABUN por una sola vez en todo el año calendario a partir de su suscripción.</li>
              <li>Tercer nivel.- 10% de beneficio calculado por el monto de inscripción que el invitado cancele a DINABUN por una sola vez en todo el año calendario a partir de su suscripción. </li>
              <li>Cuarto nivel.- 6% de beneficio calculado por el monto de inscripción que el invitado cancele a DINABUN por una sola vez en todo el año calendario a partir de su suscripción.</li>
            </ul>
          </li>
          <li>El tiempo que el usuario puede ser beneficiario de los pagos por la conformación de la red multinivel en DINABUN es de un año calendario.  </li>
        </ul>
        <p>En caso de no cumplir con la conformación de la red multinivel, el usuario corre el riesgo de no recibir la cantidad económica antes indicada, y así mismo DINABUN no se responsabiliza por el incumplimiento en la conformación de su red.  </p>
        <p>Los usuarios entienden y aceptan que DINABUN no garantiza la conformación total de la Red y a su vez los usuarios entienden que no podrán seguir acciones legales de tipo penal o civil relacionada a estos hechos, ni tampoco pedirá reembolso de su depósito.</p>
        <p>Los usuarios pueden repetir anualmente la conformación de la Red y de esa manera puedan cobrar sus beneficios siempre y cuando se haya completado correcta y adecuadamente la red multinivel.  </p>
        <p>DINABUN no pagará remuneraciones básicas, ni horas extras, ni decimos, ni acumulaciones, ni utilidades empresariales, ni algún pago que sea parte de contratación pública o privada por lo tanto DINABUN queda exenta de cualquier responsabilidad penal o civil relacionada con este tipo de formalidades económicas. </p>
        <p>DINABUN queda expresamente exenta de negociaciones sociales o económicas que los usuarios hagan entre sí por cuanto es de exclusiva responsabilidad de las personas interesadas.  </p>
      </paper-card>
    </div>
  </template>
  <script>
    Polymer({
      is: 'trms-view',
      behaviors:[
        Polymer.AppLocalizeBehavior,
        GlobalStoreBehavior
      ],
      properties:{
        user: {
          type:Object,
          statePath:'user.info'
        },
        language :{
          tpye : String,
          statePath:'language'
        },
        resources:{
          value:function(){
            return {
              "es":{
                "success":"Se ha enviado un correo a {address} con un link para la verificación",
                "failure":"Ya se ha enviado un correo de verificación o ya has confirmado tu correo"
              },
              "en":{
                "success":"An email with a verification link has been sent to {address}",
                "failure":"An email has already been sent or that address is already verified"
              }
            };
          }
        }
      }

    });
  </script>
</dom-module>
