<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0;">
<head>
<meta name="viewport" content="width=device-width">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Suscripción Automática - Dinabun</title>


</head>

<body itemscope="" itemtype="http://schema.org/EmailMessage" style="-webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; background-color: #1a237e; height: 100%; line-height: 1.6em; width: 100% !important;">

<table class="body-wrap" style="background-color: #1a237e; width: 100%;">
	<tr>
		<td style="vertical-align: top;"></td>
		<td class="container" width="600" style="clear: both !important; display: block !important; margin: 0 auto !important; max-width: 600px !important; vertical-align: top;">
			<div class="content" style="display: block; margin: 0 auto; max-width: 600px; padding: 20px;">
				<table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope="" itemtype="http://schema.org/ConfirmAction" style="background-color: #fff; border: 1px solid #1a237e; border-radius: 3px;">
					<tr>
						<td class="content-wrap" style="padding: 20px; vertical-align: top;">
							<meta itemprop="name" content="Confirm Email">
							<table width="100%" cellpadding="0" cellspacing="0">
								<tr>
									<td class="content-block" style="padding: 0 0 20px; vertical-align: top;">
										Hola <%=name%>,</td>
								</tr>
								<tr>
                  <%if(scenario==='billed'){%>
                    <td class="content-block" style="padding: 0 0 20px; vertical-align: top;">
  										Te informamos que hemos debitado <b>0.01BTC</b> de tu cuenta para pagar la suscripción de este año. Gracias por invertir con nosotros :).
  									</td>
                  <%}%>
                  <%if(scenario==='failed'){%>
                    <td class="content-block" style="padding: 0 0 20px; vertical-align: top;">
  										Este email es para informarte que no hemos podido cobrar tu suscripción mensual. Recuerda que si no te encuentras activo en la plataforma no recibes ninguno de los beneficios, como el dinero proveniente de tus recomendados.
  									</td>
                  <%}%>
                  <%if(scenario==='warning'){%>
                    <td class="content-block" style="padding: 0 0 20px; vertical-align: top;">
  										Este email es para recordarte que tienes activada la suscripción automática y en <b>5 días</b> más, la plataforma descontará automáticamente el valor de la suscripción del siguiente año.
  									</td>
                  <%}%>
								</tr>
                <tr>
									<td class="content-block" style="padding: 0 0 20px; vertical-align: top;">
										Si necesitas revisar el estado de tu suscripción puedes ir a tu cuenta:
									</td>
								</tr>
								<tr>
									<td class="content-block" itemprop="handler" itemscope="" itemtype="http://schema.org/HttpActionHandler" style="padding: 0 0 20px; vertical-align: top;">
										<a href="https://www.dinabun.com/acco" class="btn-primary" itemprop="url" style="background-color: #00bfa5; border: solid #00bfa5; border-radius: 5px; border-width: 10px 20px; color: #263d3b; cursor: pointer; display: inline-block; font-weight: bold; line-height: 2em; text-align: center; text-decoration: none; text-transform: capitalize;">Ir a mi cuenta</a>
									</td>
								</tr>
								<tr>
									<td class="content-block" style="padding: 0 0 20px; vertical-align: top;">
										&mdash; Dinabun
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<div class="footer" style="clear: both; color: #999; padding: 20px; width: 100%;">
					<table width="100%">
						<tr>
							<td class="aligncenter content-block" style="color: #999; font-size: 12px; padding: 0 0 20px; text-align: center; vertical-align: top;">Follow <a href="http://www.facebook.com" style="color: #999; font-size: 12px; text-decoration: underline;">Dinabun</a> on Facebook.</td>
						</tr>
					</table>
				</div></div>
		</td>
		<td style="vertical-align: top;"></td>
	</tr>
</table>

</body>
</html>
