<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>acco-view</title>

    <script src="../../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../../../bower_components/web-component-tester/browser.js"></script>

    <!-- Import the element to test -->
    <link rel="import" href="../../../src/fragments/acco-view.html">
  </head>
  <body>
    <test-fixture id="basic">
      <template>
        <acco-view></acco-view>
      </template>
    </test-fixture>

    <script>
      suite('acco-view tests', function() {
        var view;

        setup(function() {
          view = fixture('basic');
        });

        test('View should return its name ', function() {
          assert.equal(view.is, 'acco-view');
        });
        

      });
    </script>
  </body>
</html>
