<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Bienvenido a Dinabun</title>
<link href="styles.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body itemscope itemtype="http://schema.org/EmailMessage">

<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" width="600">
			<div class="content">
				<table class="main" width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<td class="alert alert-good">
							<h1>Bienvenido(a) a Dinabun</h1>
						</td>
					</tr>
					<tr>
						<td class="content-wrap">
							<table width="100%" cellpadding="0" cellspacing="0">
								<tr>
									<td class="content-block">
										Ahora eres parte de la nueva forma de hacer negocios en el Ecuador.
									</td>
								</tr>
								<tr>
									<td class="content-block">
										Inicia una suscripción para poder empezar a obtener beneficios de la aplicación.
									</td>
								</tr>
								<tr>
									<td class="content-block">
										<a href="http://www.mailgun.com" class="btn-primary">Iniciar una suscripción</a>
									</td>
								</tr>
								<tr>
									<td class="content-block">
										Gracias por unirte a Dinabun :)
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<div class="footer">
					<table width="100%">
						<tr>
							<td class="aligncenter content-block">Follow <a href="http://www.facebook.com">Dinabun</a> on Facebook.</td>
						</tr>
					</table>
				</div></div>
		</td>
		<td></td>
	</tr>
</table>

</body>
</html>
